# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Vagrant stuff (for testing)
*.vagrant

# Ignore any iso's that end up here
*.iso

# Ignore our output- directories from builds.
output-*/